.1280-clear-content-area {
  padding: 150px;
  width: 50%;
}

.card {
  border-radius: 6px;
  border: none;
  box-shadow: 0 0 17px 0 rgba(177,177,177,0.5);
  margin-bottom: 0.5rem;
  .card-body {
    .card-body-title {
      color: #29363d;
    }
  }
}

.text-details {
  color: #A4B7C1;
}
