<div class="pt-3 pb-3 d-flex justify-content-md-start justify-content-between">
  <h2 [translate]="'Messages.messages'"></h2>
</div>
<div class="msg_navbar">
  <form class="form-inline p-3 col">
    <div class="form-group col-lg-4 col-md-4 flex-nowrap mb-0 ">
      <label class="pr-2 d-none d-lg-block" for="searchText" [translate]="'Messages.OrderBy'"></label>
      <select [(ngModel)]="selectedMessages" name="selectMessage"  class="form-control flex-fill" (change)="onChange($event)" >
        <option [ngValue]="'today'" [translate]="'Messages.Today'" [selected]="true"></option>
        <option [ngValue]="'week'" [translate]="'Messages.LastWeek'" ></option>
        <option [ngValue]="'month'" [translate]="'Messages.LastMonth'"></option>
        <option [ngValue]="'unread'" [translate]="'Messages.NewNotification'"></option>
        <option [ngValue]="'read'" [translate]="'Messages.ReadMessages'"></option>
        <option [ngValue]="'all'" [translate]="'Messages.All'"></option>
      </select>
    </div>
    <div class="form-group col-xl-4 col-lg-6 col-md-8 flex-nowrap pt-md-0 pt-sm-2 d-none d-md-flex">
      <label class="pr-2" for="searchText" [translate]="'Messages.Filter'"></label>
      <input [(ngModel)]="searchText"  (keyup)="onSearchTextKeyUp($event)" spellcheck="false" type="text" (keydown)="onSearchTextKeyDown($event)"
             id="searchText" name="searchText" class="form-control flex-fill col" style="min-width: 100px;" placeholder="{{'Messages.PlaceHolder' | translate}}">
    </div>
  </form>
</div>

<div *ngIf="messages">
  <div *ngIf="this.count >1 || this.count == 0" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'Messages.Results' | translate}}</div>
  <div *ngIf="this.count ==1" class=" mt-1 text-right text-color-theme font-xl sis-brand-bold">  {{this.count}} {{'Messages.Result' | translate}}</div>
</div>
<hr>
<div *ngIf=" messages && messages.length >0">
  <div  class="inner__content"
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="2"
        [infiniteScrollThrottle]="50"
        [infiniteScrollContainer]="selector"
        [fromRoot]="true"
        (scrolled)="onScroll()">
    <div class="mr-3 border border-light" *ngFor="let message of messages; let first = first; let last = last;"
         [ngClass]="first? 'rounded-top border-bottom-0': last? 'rounded-bottom': 'border-bottom-0 rounded-0'">
      <div class="card m-0 shadow-none ">
        <div class="card-body overflow-hidden col-12 p-0">
          <div class="row">
            <div class="px-5 py-3 col-xl-10 col-lg-10 col-md-9 col-12">
              <div class="col-10 px-0">
                <div class="row ml-1">
                <span class="font-xl" *ngIf="message.subject != null && message.subject.length > 0; else withAction"
                      [ngClass]="(message?.dateReceived == null)?'font-weight-bold':'text-secondary'">
                 {{message.subject}} <span class="font-sm"> ( {{message.dateCreated | date: 'dd-MM-yyyy h:mm a'}} )</span>
                </span>
              </div>
              <div class="">
                <ng-template #withAction>
                <span class="font-xl row px-0" *ngIf=" message?.action?.additionalType === 'RequestDocumentAction'; else messageAction"
                      [ngClass]="(message?.dateReceived == null)?'font-weight-bold':'text-secondary'">
                  {{message.subject}} {{"Messages.additionalType." + message.action.additionalType   | translate }}
                </span>
                  <ng-template #messageAction>
                <span class="font-xl row px-0" *ngIf="message?.action != null; else noSubject"
                      [ngClass]="(message?.dateReceived == null)?'font-weight-bold':'text-secondary'">
                  {{"Messages.additionalType." + message.action.additionalType   | translate }}
                </span>
                    <ng-template #noSubject>
                  <span class="font-xl row px-0" [ngClass]="(message?.dateReceived == null)?'font-weight-bold':'text-secondary'">
                    {{'Messages.NoSubject' | translate}}
                  </span>
                    </ng-template>
                  </ng-template>
                </ng-template>
              </div>
              <div class=" text-secondary pt-2 ml-2" *ngIf="message.action != null">
                <span>{{'Messages.ItsAbout' | translate}}:</span>
                <span class="mr-2"> {{ message?.action?.name }} </span>
                <span class="mr-2">( {{ message.action.dateCreated  | date: 'dd-MM-yyyy h:mm a'}} )</span>
              </div>
              <div class="my-3" *ngIf="message.attachments != null">
                <button *ngFor="let attachment of message.attachments" (click)="downloadFile(attachment)"
                        type="button" class="btn btn-outline-indigo mt-3" [translate]="'Messages.Download'"></button>
              </div>
              <div *ngIf="message.category==='InstructorMessage' && message.sender"
                   class="text-muted d-none d-sm-block pt-3">
                 {{'Messages.Sender' | translate}}: {{message.sender.alternateName}}
              </div>
              <div *ngIf="!message.bodyFull" class="mt-2 ml-2">
                <span [innerHTML]="message.body | slice : 0 : bodyLength"></span>
                <span *ngIf="message.body.length > bodyLength">&nbsp;...</span>
              </div>
              <div class="mt-3 ml-2" *ngIf="!message.bodyFull">
                <button *ngIf="message.body.length > bodyLength" class="btn btn-outline-indigo "
                        (click)="showMore(message)">{{'Messages.More' | translate}}</button>
              </div>
              <div class="mt-2 ml-2" *ngIf="message.bodyFull">
                <span [innerHTML]="message.bodyFull"></span>
              </div>
              <div class="mt-3 ml-2" *ngIf="message.bodyFull">
                <button class="btn btn-outline-indigo"
                        (click)="showLess(message)">{{'Messages.Less' | translate}}</button>
                </div>
              </div>
              <div *ngIf="message.action && message.action.actionStatus && message.action.actionStatus.alternateName
              && message.action.actionStatus.alternateName === 'PotentialActionStatus' && message?.action?.url" class="pt-1 ml-2">
                <div>
                  <div *ngIf="message?.action?.description">
                    <span [innerHTML]="message?.action?.description | slice : 0 : bodyLength"></span>
                    <span *ngIf="message?.action?.description.length > bodyLength">&nbsp;...</span>
                  </div>
                  <div class="my-3" *ngIf="message?.action?.url">
                    <button (click)="open(message?.action?.url)"
                            type="button" class="btn btn-outline-indigo mt-1" [translate]="'Messages.CompleteAction'"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <div class="py-auto">
                <summary class="d-flex p-3 text-success float-lg-right justify-content-md-center" (click)="setMessageAsRead(message)"
                         *ngIf="message?.dateReceived == null || !message?.read">
                <span class="font-sm text-center m-auto text-success">
                  <i class="far fa-3x fa-envelope-open"></i><br>
                  <span class="font-xs">{{ 'Messages.MarkAsRead'| translate }}</span>
                </span>
              </summary>
              <div class="d-flex p-3 float-xl-right" *ngIf="message?.dateReceived != null && message.read">
                 <span class="font-sm text-center m-auto text-gray-300" >
                    <i class="far fa-3x fa-envelope"></i><br>
                   <span>{{ message?.dateReceived | date: 'dd-MM-yyyy h:mm a'}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoading && messages && messages.length === 0" class="text-gray-600 mt-3"  [translate]="'Messages.NoMessages'"></div>
